.page-header
  %h2
    Traffic Cameras
    %a.btn.btn-primary.active.pull-right{ :href => admin_cams_table_path } Table
    %a.btn.btn-primary.active.pull-right{ :href => admin_cams_map_path } Map
    %a.btn.btn-primary.active.pull-right{ :href => new_admin_cam_path } + New Cam

.row
  .col-md-12
    = render @cams
