.cam
  = image_tag cam.uri
  .location
    = cam.location
  %ul.edit
    %li
      = link_to edit_cam_path(cam) do
        %i.glyphicon.glyphicon-cog
    %li
      = link_to cam_path(cam), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        %i.glyphicon.glyphicon-remove
