#gui
  #map
  #sidebar

= include_gon
:javascript

  $(function(){

    var origin = gon.dashboard.origin,
      destination  = gon.dashboard.destination,
      markers = gon.dashboard.markers,
      marker_template = gon.dashboard.marker_template,

      map = $('#map').dashboard({
      origin: new google.maps.LatLng(origin.lat, origin.lng),
      destination: new google.maps.LatLng(destination.lat, destination.lng),
      markers: markers,
      marker_template: marker_template,
      directionRendererOptions: { draggable: #{draggable} },

      on_route_ready: function(event, data){
        $('.km').text((data.distance/1000).toFixed(2));
        $('.min').text((data.duration/60).toFixed(0));
        if (data.origin.address) {
          $('input#origin_address').val(data.origin.address);
          $('input#origin_latitude').val(data.origin.location.lat());
          $('input#origin_longitude').val(data.origin.location.lng());
        }
        if (data.destination.address) {
          $('input#destination_address').val(data.destination.address);
          $('input#destination_latitude').val(data.destination.location.lat());
          $('input#destination_longitude').val(data.destination.location.lng());
        }
      },

      on_markers_ready: function(event, data){
        var onpath_cameras = data.onpath,
            count = onpath_cameras.length,
            htmls = onpath_cameras.map(function(c) {return Cx.partial.render(marker_template,c.data)}),
            onpath_camera_ids = $.map(onpath_cameras, function(c){return c.id}).join(',');
        $('.camera_count').text(count);
        $('#sidebar').empty().append(htmls);
        $('input#camera_ids').val(onpath_camera_ids);
      }
    }),

    refresh_route = function() {
      map.dashboard( 'new_route',
        $('input#origin_address').val(),
        $('input#destination_address').val()
      );
      $('input#origin_latitude').val(null);
      $('input#origin_longitude').val(null);
      $('input#destination_latitude').val(null);
      $('input#destination_longitude').val(null);
    };

    $('#dashboard_form')
      .submit(function(e) {
        refresh_route();
        if ( $('#header .user-signed-in').length === 0 ) {
          $('#modalSignin').modal();
          e.preventDefault();
        }
      })
      .keypress(function (e) {
        if ((e.keyCode || e.which) === 13) {
          refresh_route();
          e.preventDefault();
        }
      });

  });
