.page-header
  .row
    %h1
      %form.form.form-inline
        .form-group.col-md-2
          .form-control{disabled: ''}= @dashboard.name
        .form-group.col-md-3
          .form-control{disabled: ''}=format_address(@dashboard.point_a.address)
        .form-group.col-md-3
          .form-control{disabled: ''}=format_address(@dashboard.point_b.address)
        .form-group.col-md-1
          %a.btn.btn-primary.active{ href: edit_dashboard_path(@dashboard)} Edit

      .col-md-3
        = render partial: 'labels'

  %p#notice= notice

= render partial: 'gui', locals: { draggable: false }
