.page-header
  %h2
    = @dashboard.name
    %span#km.strong
    %span#min.strong
    %a.btn.btn-primary.active.pull-right{ :href => dashboards_path(@dashboard) } All Dashboards
    %a.btn.btn-primary.active.pull-right{ :href => edit_dashboard_path(@dashboard) } Edit This

  %p#notice= notice

.row
  .col-md-9
    #map
  #sidebar.col-md-3
    - @cams.each do |c|
      = render partial: 'admin/cams/cam', locals: {cam: c}

:javascript
  $(function(){

    new Maplace({
    	locations: #{@locations.to_json},
    	map_div: '#map',
    	generate_controls: false,
    	show_markers: false,
    	type: 'directions',
    	draggable: true,
    	directions_panel: '#route',
      map_options: { scrollwheel: false },

    	afterRoute: function(distance, status, result) {
        var duration;
        if (typeof result !== "undefined" ) {
            duration = result.routes[0].legs[0].duration.value;
            console.log("d=" + distance +  " t=" + duration);
        		$('#km').text(': '+(distance/1000)+'km');
        		$('#min').text('/ '+(duration/60).toFixed(2)+'min');
        }
    	}

    }).Load();
  })
