.page-header
  %h2
    = @dashboard.name
    %span#km
    %span#min

    %a.btn.btn-primary.active.pull-right{ :href => dashboards_path } All Dashboards
    %a.btn.btn-primary.active.pull-right{ :href => edit_dashboard_path(@dashboard) } Edit This
  %p#cams

  %p#notice= notice

.container
  .row
    .col-md-9.col-sm-7.col-xs-12#map
    .col-md-3.col-sm-5.col-xs-12#sidebar

= include_gon
:javascript

  $('#map').dashboard({
    origin: new google.maps.LatLng(gon.origin.lat, gon.origin.lng),
    destination: new google.maps.LatLng(gon.destination.lat, gon.destination.lng),
    markers: gon.markers,

    on_route_ready: function(event, data){
      $('#km').text(': '+(data.distance/1000).toFixed(2)+'km');
      $('#min').text('/ '+(data.duration/60).toFixed(2)+'min');
    },

    on_markers_ready: function(event, data){
      var onpath_cams = data.onpath,
          count = onpath_cams.length,
          htmls = onpath_cams.map(function(c) {return c.data});
      $('#cams').text(count + ' traffic cameras on path')
      $('#sidebar').empty().append(htmls);

    }
  });


