@app-header-height: 160px;
@app-sidebar-width: 320px;

#content.dashboards {
  .page-header {
    height: @app-header-height;
    input.form-control {
      width: 500px;
    }
  }

  #gui {
    position: absolute;
    top: @app-header-height;
    left: 15px;
    right: 15px;
    bottom: 0;
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: @app-sidebar-width;
      left: 0;
    }
    #sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: @app-sidebar-width;
      overflow: auto;

      .cam {
        width: 100%;
        height: auto;
        padding-top: 75%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
