@header-height: 120px;
@sidebar-width: 320px;



#content.dashboards {
  .page-header {
    height: @header-height;
    input.form-control {
      width: 500px;
    }
  }

  #gui {
    position: absolute;
    top: @header-height;
    left: 15px;
    right: 15px;
    bottom: 0;
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: @sidebar-width;
      left: 0;
    }
    #sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: @sidebar-width;
      overflow: auto;

      .cam {
        width: 100%;
        height: auto;
        padding-top: 75%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

#content.dashboards.edit,
#content.dashboards.new,
 {
  .page-header {
    height: @header-height + 40;
  }

  #gui {
    top: @header-height + 40 ;
  }
}